// Place all the styles related to the Commits controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

footer{
  position: fixed;
  top: 95%;
  left: 10%;
  border-radius: 5px;
  color: rgba(12, 21, 154, 0.43);

}